* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
scroll-behavior: smooth;
}
body {
  width: 100%;
  padding: 2em;
  background-image: linear-gradient(#ffefbc, #ffbd4d);
}
.wrapper {
  width: 100%;
  background: #f9f9f9;
  padding: 2em;
}
.logo {
  height: 52px;
  width: 52px;
  scroll-padding-top: 0em;
  object-fit: cover;
  border-radius: 100%;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  max-width: 100%;
}
nav ul {
  width: 100%;
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 900;
}
nav ul li a {
  color: #1b2d45;
  font-size: 18px;
  padding: 5px;
}
nav ul li a:hover {
  background-color: #5d5d5d;
  transition: 0.5s ease-in;
  color: #fff;
  border-radius: 5px;
}
.cart {
  font-size: 16px;
  padding: 5px;
  border: 1px solid #715c47;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}
.cart span {
  color: #fff;
  background: rgb(238, 89, 89);
  padding: 4px;
  border-radius: 3px;
}
#checkbtn {
  display: none;
}

#home {
  width: 100%;
  height: 100vh;
  background-image: url(/images/bgg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10em;
}
#home .content h1 {
  font-size: 45px;
  line-height: 110.5%;
  max-width: 80%;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
#home .content p {
  max-width: 20em;
  font-size: 20px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-family: "Inter", sans-serif;
}
#home .content .span {
  margin-top: 4em;
  display: block;
  cursor: pointer;
}
.hero-image {
  width: 100%;
  height: 35rem;
  object-fit: contain;
  background-size: contain;
}
#product {
  width: 100%;
  margin-bottom: 5em;
}
#product h1 {
  font-size: 45px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.listproduct .item h2 {
  font-size: 20px;
  font-weight: 900;
}
.listproduct {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.listproduct .item {
  border: 2px solid #5d5d5d;
  border-radius: 10px; 
  display: flex;
  flex-basis: 20%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: #5d5d5d 0px 5px 15px;
  padding: 1em;
  margin: 1em;
  line-height: 2em;
}
.listproduct .item img {
  width: 100px;
  object-fit: contain;
}
.listproduct .item .addcart {
  background: #5d5d5d;
  color: #fff;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* #5d5d5d */
#about .aboutbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 15px;
}
#about .aboutbox::before {
  content: '';
  position: absolute;
  left: 32rem;
  top: 107em;
  height: 159px;
  border-left: 2px solid#000;
}
#about h1 {
  font-size: 45px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
#about .aboutcontent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#about .aboutcontent img {
  width: 100%;
  height: 15rem;
  object-fit: contain;
  background-size: contain;
}
#about .aboutcontent .abouttxt {
  max-width: 47%;
}
#about .shopnow {
   background: #5d5d5d;
  color: #fff;
  font-weight: bolder;
  padding: 13px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}







@media screen and (max-width: 1024px) {
  body {
    padding: 0;
  }
}
/* mobile screen size */
@media screen and (max-width: 425px) {
  .wrapper {
    padding: 0;
  }

  header {
    background-color: #fff;
    position: fixed;
    top: 0;
    padding: 1em 1em;
    margin-bottom: 17em;
    z-index: 999;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 4px 12px;
  }
  nav ul {
    width: 100%;
    position: absolute;
    top: 58px;
    right: 0;
    margin-right: 0;
    background: #715c47;
  }
  nav ul li {
    display: block;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  nav ul li a {
    color: #ffd;
  }
  .cart {
    margin-right: 1rem;
  }
  .biii {
    display: inline-flex;
    align-items: center;
  }
  #checkbtn {
    display: block;
  }
  #menuList {
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
  #home {
    margin-top: 5em;
    margin-bottom: 3em;
  }
}
