* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  max-width: 100%;
}
body {
  width: 100%;
  padding: 2em;
  /* background: #ffbd4d; */
}
.wrapper {
  width: 100%;
  background: #f9f9f9;
  padding: 2em;
}
.logo {
  height: 8em;
  width: 8em;
  scroll-padding-top: 0em;
  object-fit: cover;
  border-radius: 100%;
}
header {
  background-color: #f9f9f9;
  width: 100%;
  height: 60px;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  max-width: 100%;
}
nav ul {
  width: 100%;
  text-align: right;
  margin-bottom: 1.2em;
}
nav ul li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 900;
  max-height: none;
}
nav ul li a {
  color: #1b2d45;
  font-size: 18px;
  padding: 5px;
}
nav ul li a:hover {
  background-color: #5d5d5d;
  transition: 0.5s ease-in;
  color: #fff;
  border-radius: 5px;
}
.biii {
  display: flex;
  align-items: center;
  justify-content: center;
}
.biii .login {
  margin-right: 5em;
}
.cart {
  font-size: 14px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  position: relative;
}
.cart .cartnum {
  display: flex;
  color: red;
  font-weight: 900;
  font-size: 17px;
  padding: 5px;
  margin-bottom: 1px;
  border-radius: 30%;
  position: absolute;
  bottom: .8em;
  right: 8px;
  }

#checkbtn,
.user {
  display: none;
}

.sidebar {
  width: 350px;
  height: 85vh;
  color: #fff;
  position: fixed;
  top: 4em;
  right: 0px;
  background: #5d5d5d;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebar-close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  fill: #fff;
}
.cart-list {
  max-height: 350px;
  overflow: auto;
}
.cart-list::-webkit-scrollbar {
  width: 0;
}
 .cart-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid white;
  margin: 10px 0;

 }  
.cart-items img {
  width: 70px;
  object-fit: contain;
}
.quantity {
  background: #bebebe;
  padding: 10px;
  border: none;
  outline: none;
  width: 59px;
  border-radius: 4px;
}
#deletebtn {
  fill: red;
}
.sidebar-footer {
  position: absolute;
  bottom: 10px;
  width: 88%;
}
.total-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 10px;
}
.checkout {
  width: 100%;
  margin-top: 1rem;
  background: green;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}
#home {
  width: 100%;
  background-image: url(/images/bgg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 4em;
}

#home .content h1 {
  font-size: 45px;
  line-height: 110.5%;
  max-width: 80%;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
#home .content p {
  max-width: 20em;
  font-size: 20px;
   margin-top: 1em;
  font-family: "Inter", sans-serif;
}
#home .content .span {
  /* margin-top: 4em; */
  display: block;
  cursor: pointer;
}
.hero-image {
  width: 100%;
  height: 25rem;
  object-fit: contain;
  background-size: contain;
}
#product {
  width: 100%;
  margin-bottom: 7em;
}
#product h1 {
  font-size: 45px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.listproduct .item h2 {
  font-size: 16px;
  font-weight: 400;
}
.listproduct {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.listproduct .item {
  width: 100%;
  border: 2px solid #5d5d5d;
  border-radius: 10px;
  display: flex;
  flex-basis: 15%;
  align-items: center;
  flex-direction: column;
  box-shadow: #5d5d5d 0px 5px 15px;
  padding: 1em;
  margin: 1em 0;
  line-height: 2em;
  max-width: 100%;
}
.listproduct .item img {
  width: 100px;
  object-fit: contain;
}
.listproduct .item #addcart {
  background: #5d5d5d;;
  color: #fff;
  font-weight: 600;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.seemore {
  display: flex;          
  align-items: center;      
  background: green;
  color: #fff;
  font-weight: bolder;
  padding: .5em;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2em;
  /* margin-right: 7em; */
  float: right;
}
.arrow {
  margin-left: 5px; 
  fill: #fff;      
}
#about {
  width: 100%;
  margin-bottom: 5em;
}
#about .aboutbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 15px;
}
.ver {
  border-left: 1.9px solid black;
  height: 130px;
}
.hor {
  display: none;
}
#about h1 {
  margin-bottom: 0.5em;
  font-size: 45px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
#about .aboutcontent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#about .aboutcontent img {
  width: 100%;
  height: 15rem;
  object-fit: contain;
  background-size: contain;
}
#about .aboutcontent .abouttxt {
  max-width: 47%;
}
#about .shopnow {
  background: #5d5d5d;;
  color: #fff;
  font-weight: bolder;
  padding: 13px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2em;
}

#services {
  margin-bottom: 5em;
}
#services h1 {
  font-size: 45px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1em;
}
#services .servicebox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.track, .delivery, .support {
  fill: #5d5d5d;;
}
#services .servicebox .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
    text-align: center;
    max-width: 200px;
}
#services .servicebox h3 {
  font-weight: bolder;
  margin-bottom: 3px;
}
@media screen and (max-width: 1024px) {
  body {
    padding: 0;
    background: #f9f9f9;
  }
}
@media screen and (max-width: 768px) {
  .hero-image {
    width: 100%;
    height: 15rem;
    object-fit: contain;
    background-size: contain;
  }
  
}
@media screen and (max-width: 735px) {
  #about .aboutcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ver {
display: none;
}
.hor {
  display: initial;
  width: 79%;
  height: 2px;
  background: #000;
  margin: 2em 0;
}
#about .aboutcontent .abouttxt {
  max-width: 78%;
  text-align: center;
}


}

/* mobile screen size */
@media screen and (max-width: 680px) {
  .wrapper {
    padding: 0.5em;
  }

  header {
    background-color: #f9f9f9;
    position: fixed;
    top: 0;
    padding: 1em 1em;
    margin-bottom: 17em;
    z-index: 999;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 4px 12px;
  }
  nav ul {
    width: 100%;
    position: absolute;
    top: 58px;
    right: 0;
    margin-right: 0;
    background: #5d5d5d;
    /* background: #715c47; */
  }
  nav ul li {
    display: block;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 2em;
  }
  nav ul li a {
    color: #ffd;
  }
  .cart,
  .user {
    margin-right: 1rem;
  }
  .biii {
    display: inline-flex;
    align-items: center;
  }
  .user {
    display: block;
  }
  .biii .login {
    display: none;
  }
  #checkbtn {
    display: block;
  }
  #menuList {
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
  .cart-list {
    max-height: 435px;
    overflow: auto;
  }
  .cartsection {
    top: 3.8em;
    right: 1em;
  }
  #home {
     margin-top: 6em;
     /* margin-bottom: 5em; */
  }

  .listproduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  .listproduct .item {
    width: 100%;
    border: 2px solid #5d5d5d;
    border-radius: 10px;
    display: flex;
    /* flex-basis: 47%; */
    align-items: center;
    box-shadow: #5d5d5d 0px 5px 15px;
    padding: 1em;
    line-height: 2em;
    margin: 1em 0.5em;
  }
}
@media screen and (max-width: 615px) {
  .wrapper {
    padding: 1em;
  }
}

@media screen and (max-width: 580px) {
  #home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* height: 69vh; */
    margin-top: 5em;
    /* margin-bottom: 4em; */
  }
  #home .content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #home .content h1,
  p {
    text-align: center;
  }

}
@media screen and (max-width: 507px) {
  #about .aboutcontent .abouttxt {
    width: 100%;
  }
}
@media screen and (max-width: 487px) {
  .listproduct .item {
    flex-basis: 43%;
  }
    #about .aboutcontent .abouttxt {
max-width: 100%;
  text-align: center;
}  
}
@media screen and (max-width: 461px) {
  #services .servicebox .icon {
    margin-bottom: 1em;
  }
   
  }
@media screen and (max-width: 370px) {
  header {
    padding: 0;
  }
  .listproduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

}
